$main-color = #a8d695
$main-color-dark = #3685a3
$sub-color = #f3e0b5
$sub-color-dark = #fae4ee
$btn-text-color = #116d86
$title-color = #5F505F
$title-color-dark = #cc5374
$hover-color = #bbc5cf
$active-color = #93a3b3